<!doctype html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Use the title from a page's frontmatter if it has one -->
    <title>J u l i a H a r t</title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/film.png' %>

    <!-- PRELOAD Background -->
    <link rel="preload" href="../images/23RED-dark.jpg" as="image">

  </head>
  <body>
    <%= yield %>
  </body>
</html>
