#wrapper {
  background: image-url("23RED-dark.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#sider {
  height: 100%;
  width: 30%;
  margin-left: 10%;
  padding: 20px;

  color: #ddd;
  opacity: .7;
}

.marg-top {
  margin-top: 20px
}

#soon {
  position:fixed;
  bottom:0;
  right:10px;
  text-align: right;
}

#mobile-soon {
  display: none;
}

////////////////////////     Mobile Version     ////////////////////////////////
@media screen and (max-width: 480px) {


  #sider {
    width: 80%;
  }

  #soon {
    display: none;
  }

  #mobile-soon {
    display: block;
    text-align: right;
  }



}
////////////////////////     Mobile Version     ////////////////////////////////
